<%- include('../partials/adminHeader.ejs') %>
<!-- <p>Control panel</p> -->
<section class="controlPanel">
  <div class="container mx-auto py-10 flex justify-start">
    <a
      href="/admin/addPizza"
      class="btn-primary block max-w-sm p-6 border border-gray-200 rounded-lg shadow dark:border-gray-700"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Add Pizza
      </h5>
    </a>

    <a
      href="/admin/editMenu"
      class="ml-10 btn-primary block max-w-sm p-6 border border-gray-200 rounded-lg shadow dark:border-gray-700"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Edit menu
      </h5>
    </a>
  </div>
</section>
