@import './variables.scss';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';


body {
    font-family: 'Lato',sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
    // height: 4000px; //temporary
}
nav li:last-child a{
    &:hover{
        background: $primary-hover;
    }
    background: $primary;
}
nav li a,input{
    transition:$smooth;
    &:hover{
        color: $primary;
    }
}
section.hero {
    background: $secondary;
}
.size{
    background: $secondary;
}
.btn-primary{
    background: $primary;
    &:hover{
        transition: $smooth;
        background: $primary-hover;
    }
}
.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background: $primary;
        color: $pure;
        border-color: $pure;
    }
}
section.cart{
    background: $secondary;
    .amount{
        color: $primary;
    }
}
section.login{
    background: $secondary;
    min-height: calc(100vh - 86px);

    a{
        color: $primary;
        &:hover{
            color: $primary-hover;
        }
    }
}